@import 'reset';
@import 'response';
@import 'variable';


.hidden{
    @include hidden();
  }
  
  li,
  ol,
  ul{
    list-style: none;
    padding-left: 0;
  }
  
  .container{
    width: 980px;
    margin:auto;
  }