
/// font
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Karla');

/// 변수
$use-color: (
        black-c: #363636,
        black6-c: #cccccc,
        white-c: #ffffff,
        gray-c: #666666,
        gray2-c: #bbbbbb,
        gray3-c: #dddddd,
        gray4-c: #9f9f9f,
        blue-c: #3b8cce,
        base-c: #ebeae7,
        white2-c: #f9f8f3,
        skyblue-c: #86c7dd
);

$use-font: (
        xsmall4-f:0.75rem,
        xsmall-f:0.8rem,
        xsmall2-f:0.9rem,
        xsmall3-f:1.0rem,
        small-f:1.1rem,
        medium2-f:1.3rem,
        medium-f:1.6rem,
        large-f:1.9rem,
        large2-f:2.0rem,
        mlarge-f: 2.8rem,
        xlarge-f:5.4rem
);

$font-family: 'Karla', 'Noto Sans', sans-serif;
// $font-family: 'Karla', sans-serif;
$box-shadow: 0 0 15px #bbb;

// Mixin itself
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin hidden() {
  overflow: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  left: -9999%;
  text-indent: -9999px;
  line-height: 0;
}

@mixin icon-style($sns) {
  @if $sns == facebook_icon{
    background-image:url('../images/sns/facebook.svg');
  }
  @else if $sns == instagram_icon{
    background-image:url('../images/sns/instagram.svg');
  }
  @else if $sns == github_icon{
    background-image:url('../images/sns/github.svg');
  }
  @else if $sns == linkedin_icon{
    background-image:url('../images/sns/linkedin.svg');
  }
  @else if $sns == steemit_icon{
    background-image:url('../images/sns/steemit.svg');
  }
}

@mixin basic-icon(){
  width: 26px;
  height: 26px;
  display: block;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

@mixin btn-style($btn) {
  @if $btn == gradient{
    -moz-border-image: -moz-linear-gradient(top, #9a6aff 0%, #6eff90 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #9a6aff 0%, #6eff90 100%);
    border-image-source: linear-gradient(to left, #9a6aff 1%, #6eff90 100%);
    border-image-slice: 1;
    border-width: 1px;
    border-style:solid;
    border-radius: 0;
    color: map_get($use-color, white-c);
    text-align: center;
  }
  @else if $btn == submit{
    border: none;
    background-color: map_get($use-color, hover-c);
    border-radius: 0;
    text-align: center;
    padding:0.5rem 1.5rem;
    color: map_get($use-color, white-c);
    cursor: pointer;
  }
  @else if $btn == basic{
    background-color: map_get($use-color, skyblue-c);
    color: map_get($use-color, gray4-c);
    text-align: center;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
}

@mixin basic-padding($p_set){
  padding-top: $p_set;
  padding-bottom: $p_set;
}

@mixin basic-margin($m_set) {
    margin-top: $m_set;
    margin-bottom: $m_set;
}

@mixin all-padding($p_set) {
    padding: $p_set;
}

@mixin all-margin($m_set) {
    margin: $m_set;
}

@mixin gradient($color1, $color2){
  background: $color1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, $color1 0%, $color2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, $color1 0%,$color2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, $color1 0%,$color2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin gradient2(){
  background: #9db1b9; /* Old browsers */
  background: -moz-linear-gradient(45deg, #9db1b9 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #9db1b9 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #9db1b9 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin text-gradient($color1, $color2){
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, $color1), color-stop(0.1, $color2), color-stop(0.7, $color1) );
  background-image: gradient( linear, left top, right top, color-stop(0,  $color1), color-stop(0.1, $color2), color-stop(0.7, $color1)  );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}